@media (max-width: 699px) {
    .keunggulan {
        flex-direction: column;
    }
    .kanan {
        animation: kanan 1s ease-in-out;
        opacity: 1;
    }
    .kiri {
        animation: kiri 1s ease-in-out;
        opacity: 1;
    }
}
@media (min-width:700px) {
    .kanan,.kiri {
    animation: atas 1s ease-in-out;
    opacity: 1;
}
}
.nomorProduk {
    width: fit-content;
    padding: 10px;
    background: linear-gradient(gray,rgba(252,252,252,0));
}

.awal1,.awal2 {
    opacity: 0;
}
@keyframes kanan {
    0% {
        opacity: 0;
        margin-left: -25px;
    } 100% {
        
    }
}
@keyframes kiri {
    0% {
        opacity: 0;
        margin-right: -25px;
    } 100% {
        
    }
}
@keyframes atas {
    0% {
        opacity: 0;
        transform: scale(0.9)
    } 100% {
        
    }
}